body {
  margin: 0;
  padding: 0;
  font-family: "Karla", "Markazi Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stack {
  display: flex;
}
.stack.h {
  flex-direction: row;
}
.stack.v {
  flex-direction: column;
}
.stack.g-0 {
  gap: 0px;
}
.stack.g-1 {
  gap: 4px;
}
.stack.g-2 {
  gap: 8px;
}
.stack.g-3 {
  gap: 12px;
}
.stack.g-4 {
  gap: 16px;
}
.stack.g-5 {
  gap: 20px;
}
